{% load static %}
<!doctype html>
<html lang="es,en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <Title>Your Shoes | CHAMPION Rally Pro Urbana Hombre</Title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/LOGO_SIN_FONDO.ico '%}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/styles2.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

</head>

<body id="page-top">
    <header>
        <!-- carrusel -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="{% url 'index' %} "><img src="{% static 'core/img/logo/Terminado.png'%}" alt=""></a>
                        </div>
                        <!-- Menu principal -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'index' %}">Inicio</a></li>
                                    <li><a href="{% url 'tienda' %}">Tienda</a></li>
                                    <li><a href="{% url 'sobreNosotros' %}">sobre nosotros</a></li>
                                    <li><a href="{% url 'contactanos' %}">Contacto</a></li>
                                    <li><a href="{% url 'seccionDeportes' %}">Sección de deportes</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- cabecera -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li> <a href="{% url 'iniciar_sesion' %}"><span class="flaticon-user"></span></a></li>
                                <li><a href="{% url 'carroCompras' %}"><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- menu telefono -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- termino cabecera -->
    </header>
    <main>
        <!-- fondo -->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Nike</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fondo -->
        <!--================ producto =================-->
        <div class="product_image_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-4">
                        <div class="product_img_slide owl-carousel">
                            <div class="single_product_img">
                                <img src="{% static 'core/img/galeria/compra8.1.png'%}" alt="#" class="img-fluid">
                            </div>
                            <div class="single_product_img">
                                <img src="{% static 'core/img/galeria/compra8.2.png'%}" alt="#" class="img-fluid">
                            </div>
                            <div class="single_product_img">
                                <img src="{% static 'core/img/galeria/compra8.3png'%}" alt="#" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="single_product_text text-center">
                            <h3>Nike Adapt BB</h3>
                            <p>
                                Las Nike Adapt BB electrificaron la cancha de baloncesto con su tecnología revolucionaria, ofreciendo un ajuste uniforme y personalizable con solo pulsar un botón. Las Nike Adapt BB 2.0 renuevan la expectación con un diseño actualizado que deja al descubierto
                                su tecnología e incluye una amortiguación con retorno de energía que te impulsa hacia delante.
                            </p>
                            <div class="add_talla">
                                <div class="button-talla">
                                    <span class="title"><b>Selecciona Talla</b></button></span>
                                    <span><button id="boton-talla-395" type="button"><b>39.5</b></button></span>
                                    <span><button id="boton-talla-40" type="button"><b>40</b></button></span>
                                    <span><button id="boton-talla-405" type="button"><b>40.5</b></button></span>
                                    <span><button id="boton-talla-41" type="button"><b>41</b></button></span>
                                    <span><button id="boton-talla-415" type="button"><b>41.5</b></button></span>
                                    <span><button id="boton-talla-42" type="button"><b>42</b></button></span>
                                    <span><button id="boton-talla-44" type="button"><b>44</b></button></span>
                                    <span><button id="boton-talla-45" type="button"><b>45</b></button></span>
                                </div>
                            </div>
                            <div class="card_area">
                                <div class="product_count_area">
                                    <p>Cuantas llevas</p>
                                    <div class="product_count d-inline-block">
                                        <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                                        <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                                        <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                                    </div>
                                    <p>CLP $ 260.990</p>
                                </div>
                                <div class="add_to_cart">
                                    <a href="{% url 'carroCompras' %}" class="btn_3">AÑADIR AL CARRITO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================ producto =================-->
        <!-- subscribe part here -->
        <section class="subscribe_part section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="subscribe_part_content">
                            <h2>Recibe Promociones y actualizaciones de los nuevos lanzamientos!</h2>
                            <p>Recibirás Correos de las ultimas ofertas, lanzamientos exclusivos solo para ti, ya que vas a estar suscrito a la mejor pagina de zapatillas de Chile.</p>
                            <div class="subscribe_form">
                                <input type="email" placeholder="Enter your mail">
                                <a href="{% url 'login' %}" class="btn_1">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subscribete -->

        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70 text-center"></div>
            </div>
        </div>

        <!-- línea de comentarios -->
        <div class="container" id="HCB_comment_box"><a href="http://wwwcommentbox.com">Comentanos...</a> cargando comentario.....</div>
        <!-- termino de línea de comentarios -->

        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70 text-center"></div>
            </div>
        </div>

        <!-- pie de pagina-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-star"></i>
                                <h6>ENVÍOS GRATIS</h6>
                                <p>Gracias a nuestro convenio con empresas de paquetería podemos ofrecer esta opción.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>COMPRA SEGURA</h6>
                                <p>Todas las compras están aseguradas por un fuerte sistema de cifrado.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>cashback</h6>
                                <p>Por cada compra en la tienda se te dará una pequeña comisión.
                                    <br> Esto también aplicará más adelante para el sistema de afiliados que estamos desarrollando.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pie de pagina-->
    </main>
    <footer>
        <!-- comienzo Footer -->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index"><img src="{% static 'core/img/logo/Terminado.png'%}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Otros links</h4>
                                <ul>
                                    <li><a href="{% url 'sobreNosotros' %}"> sobre nosotros</a></li>
                                    <li><a href="{% url 'seccionDeportes' %}"> Deportes</a></li>
                                    <li><a href="{% url 'contactanos' %}"> Contactanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Nuestros proveedores</h4>
                                <ul>
                                    <li><a href="https://www.nike.com/cl/"> Nike</a></li>
                                    <li><a href="https://www.adidas.cl/"> Adidas</a></li>
                                    <li><a href="https://www.amazon.com/"> Amazon</a></li>
                                    <li><a href="https://cl.puma.com/"> Puma</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Soporte</h4>
                                <ul>
                                    <li><a href="{% url 'sobreNosotros' %}">Preguntas frecuentes</a></li>
                                    <li><a href="{% url 'terminos' %}">Términos y condiciones</a></li>
                                    <li><a href="{% url 'politicas' %}">Políticas de privacidad</a></li>
                                    <li><a href="{% url 'contactanos' %}">Reporte y pagos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- redes sociales -->
                            <div class="footer-social">
                                <a href="https://twitter.com/adidaschile2?lang=es7"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/adidasCL/?brand_redir=182162001806727"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/adidascl/?hl=es-la"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.reddit.com/r/adidas/"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- busqueda -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- busqueda -->

    <!-- JS -->

    <script src="{% static 'core/js/vendor/modernizr-3.5.0.min.js'%}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'core/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'core/js/popper.min.js'%}"></script>
    <script src="{% static 'core/js/bootstrap.min.js'%}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'core/js/jquery.slicknav.min.js'%}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'core/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'core/js/slick.min.js'%}"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'core/js/wow.min.js'%}"></script>
    <script src="{% static 'core/js/animated.headline.js'%}"></script>
    <script src="{% static 'core/js/jquery.magnific-popup.js'%}"></script>

    <!-- Scroll up, nice-select, sticky -->
    <script src="{% static 'core/js/jquery.scrollUp.min.js'%}"></script>
    <script src="{% static 'core/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'core/js/jquery.sticky.js'%}"></script>

    <!-- contact js -->
    <script src="{% static 'core/js/contact.js'%}"></script>
    <script src="{% static 'core/js/jquery.form.js'%}"></script>
    <script src="{% static 'core/js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'core/js/mail-script.js'%}"></script>
    <script src="{% static 'core/js/jquery.ajaxchimp.min.js'%}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'core/js/plugins.js'%}"></script>
    <script src="{% static 'core/js/main.js'%}"></script>

    <!-- swiper js -->
    <script src="{% static 'core/js/swiper.min.js'%}"></script>
    <!-- swiper js -->
    <script src="{% static 'core/js/mixitup.min.js'%}"></script>
    <script src="{% static 'core/js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'core/js/waypoints.min.js'%}"></script>

    <script src="{% static 'core/js/comentarios.js' %}"></script>

</body>

</html>